.root {
  display: flex;
  font-weight: 300;
  font-size: 14px;
}

.primary,
.secondary {
  flex: 1 0 0;
  overflow: auto;
}

.secondary {
  background-color: #2c79a8;
  color: #fff;
}

.scored .primary {
  border-bottom: 1px solid #eee;
}

.scored .secondary {
  border-bottom: 1px solid #4186b0;
}
